extends layout.pug
block content 
    h1.title= __("Shorten")
    if error
        .notification.is-danger= error
    form(action="" method="POST")
        .field
            label.label= __("URL")
            .control 
                input(type="url" placeholder= __("URL") required name="url").input
        .field
            .control
                input(type="submit" value= __("Go!")).button
        p
            b= __("Disclaimer")
        


